<script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./style/style.css">
<div class="container">
    <form class="form-1" id="form" action="" method="">
        <h1>Login</h1>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <p id="password_error" style="color: red;"></p>
        <span><a href="forgot_password.html">Forgot Password</a></span>
        <button type="submit" id="submit" name="submit">Login</button>

        <!-- .........///sign-up///.......... -->

        <p>Or SignUp Using</p>
        <div class="icons">
            <a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/" target="blank"><i class="fab fa-twitter"></i></a>
            <a href="https://mail.google.com/" target="blank"><i class="fab fa-google"></i></a>
        </div>
    </form>
</div>

<script src="./javascript/login.js"></script>