<link rel="stylesheet" href="./style/style1.css">
<!-- container -->
<div class="container">
    <!-- form -->
    <form id="form" action="" method="">
        <!-- form heading -->
        <h3>signup</h3>
        <!-- form inputs -->
        <fieldset>
            <label for="name">Your name:</label>
            <input type="text" id="name" tabindex="1" required>
            <p id="name_error" style="color: red;"></p>
        </fieldset>
        <fieldset>
            <label for="phone">Email address:</label>
            <input type="email" id="email" required>
        </fieldset>
        <fieldset>
            <label for="phone">Password:</label>
            <input type="password" name="password" id="password" required>
            <p id="password_error" style="color: red;"></p>
        </fieldset>
        <fieldset>
            <label for="phone">Confirm password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
            <p id="confirm_error" style="color: red;"></p>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="submit">sign-up</button>
        </fieldset>
        <!-- attribution -->
        <p class="copyright">Already have an account? <a href="/login">login</a></p>
    </form>
    <script src="./javascript/signup.js"></script>